<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apiator.JS Demo</title>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <style>
        .card{
            border: solid black 1px;
            margin: 10px;
        }
        #singleRecord{
            display: none;
        }
    </style>
</head>
<body>
<!--data-template="#record"-->

<div id="singleRecord"
     data-url="test.php/test/1"
     data-resourcetype="item">
    <dl>
        <dt>First name</dt><dd><%= attributes.fname %></dd><br>
        <dt>Last name</dt><dd><%= attributes.lname %></dd><br>
    </dl>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th></th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Gender</th>
            <th>City</th>
            <th></th>
            <th><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#formModal" data-action="showCreateModal" data-instance="#recordSet">Add</button></th>
        </tr>
        <form id="recordSetFilter">
        <tr>
            <th></th>
            <th><input type="text" name="first_name" data-operator="~=~" class="form-control form-control-sm"></th>
            <th><input type="text" name="last_name" data-operator="~=~" class="form-control form-control-sm"></th>
            <th>
                <select name="gender" class="form-control form-control-sm" data-operator="=">
                    <option value=""></option>
                    <option>male</option>
                    <option>female</option>
                </select>
            </th>
            <th>
                <select  class="form-control form-control-sm" id="filterCity" name="city" data-url="https://5dce573393a83.dbapi.apiator/v2/cities?page[limit]=100"
                        data-resourcetype="collection"
                        data-template="#filterCityOption" data-disableempty="true"
                         data-operator="=">
                    <option value=""></option>
                    <option id="filterCityOption" value="<%= id %>"><%= attributes.name %></option>
                </select>
            </th>
            <th colspan="2">
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                <button type="reset" class="btn btn-secondary  btn-sm">Reset</button>
            </th>
        </tr>
        </form>
        </thead>
        <tbody id="recordSet" data-url="https://5dce573393a83.dbapi.apiator/v2/data?page[limit]=5&include=city"
               data-resourcetype="collection" data-template="#template" data-paging="#paging"
               data-deletemodal="#confirmModal" data-addeditmodal="#formModal" data-type="data"
                data-filter="#recordSetFilter">
        <tr id="template">
            <td><%= id %></td>
            <td><%= attributes.first_name %></td>
            <td><%= attributes.last_name %></td>
            <td><%= attributes.gender %></td>
            <td><%= relationships.city?relationships.city.attributes.name:null %></td>
            <td><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#formModal" data-action="showEditModal">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmModal" data-action="showDeleteConfirm">Delete</button></td>
        </tr>
        </tbody>
        <tfoot id="paging" data-pagesize="5">
        <tr>
            <td colspan="7" align="center">
                <button data-type="firstpage" class="btn btn-outline-secondary">&lt;&lt;</button>
                <button data-type="prevpage" class="btn btn-outline-secondary">&lt;</button>
                <span data-type="pages" style="display: none">
            <button data-type="page">1</button>
            <button data-type="ndef">1</button>
            </span>
                <button data-type="nextpage" class="btn btn-outline-secondary">&gt;</button>
                <button data-type="lastpage" class="btn btn-outline-secondary">&gt;&gt;</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="modal" id="formModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Title</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstNameInput">Nume</label>
                        <input type="text" name="first_name" class="form-control" id="firstNameInput" required>
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Prenume</label>
                        <input type="text" name="last_name" class="form-control" id="lastNameInput" required>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="emailInput">Email</label>-->
<!--                        <input type="email" name="email" class="form-control" id="emailInput" required>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label for="genderInput">Gender</label>
                        <select class="form-control" id="genderInput" name="gender">
                            <option value="Male">male</option>
                            <option value="Female">female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <select class="form-control" id="cityInput" name="city" data-url="https://5dce573393a83.dbapi.apiator/v2/cities?page[limit]=100"
                                data-resourcetype="collection"
                                data-template="#cityOption" data-disableempty="true">
                            <option value="/__null_entry__/">Not set</option>
                            <option id="cityOption" value="<%= id %>"><%= attributes.name %></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" data-action="confirmSave" class="btn btn-primary" data-tag="edit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Are you sure you want to delete this record?</div>
            <div class="modal-footer">
                <button type="button" data-action="confirmDelete" class="btn btn-danger">YES</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>



<script src="vendor/components/jquery/jquery.js" type="application/javascript"></script>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js" type="application/javascript"></script>
<script src="vendor/components/underscore/underscore.js"></script>
<script src="apiator.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#recordSet").apiator();
        $("#cityInput").apiator();
        $("#filterCity").apiator();
    });

</script>
</body>
</html>