<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apiator.JS Demo</title>
    <link rel="stylesheet" href="https://app.apiator/vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <style>
        .card{
            border: solid black 1px;
            margin: 10px;
        }
    </style>
</head>
<body>

<div class="container-fluid" id="singleRecord"
     data-url="https://5e1d63b498146.dbapi.apiator/v2/orders/1?include="
     data-resourcetype="item" data-apiator>
    <div class="row">
        <div class="col-4">id</div>
        <div class="col"><%= attributes.id %></div>
    </div>
    <div class="row">
        <div class="col-4">date</div>
        <div class="col"><%= attributes.date %></div>
    </div>
    <div class="row">
        <div class="col-4">status</div>
        <div class="col"><%= attributes.status %></div>
    </div>
</div>


<script src="https://app.apiator/vendor/components/jquery/jquery.js" type="application/javascript"></script>
<script src="https://app.apiator/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js" type="application/javascript"></script>
<script src="https://app.apiator/vendor/components/underscore/underscore.js"></script>
<script src="https://app.apiator/apiator.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#filterCity").apiator();
        $("#recordSet").apiator();
        $("#cityInput").apiator();
    });
</script>
</body>
</html>